<section class="home-body">
  {{#if data.single}}
  <div class="search-view">
    <h2>Single :</h2>
    <div class="container">
      {{#each data.single}}
        <div class="card">
          <div class="img">
            <div class="overlay">
                <button class="hidden" id="book-btn" type="button" name="button">Book</button>
                <button class="hidden" id="view-btn" type="button" name="button">View more</button>
            </div>
            <img class="image" src="{{imgs}}" alt="room img">
          </div>
          <div class="info">
            <span>Price : {{price}}$</span>
            <span>Room No. : {{room_num}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if data.double}}
  <div class="search-view">
    <h2>Double :</h2>
    <div class="container">
      {{#each data.double}}
        <div class="card">
          <div class="img">
            <div class="overlay">
                <button class="hidden" id="book-btn" type="button" name="button">Book</button>
                <button class="hidden" id="view-btn" type="button" name="button">View more</button>
            </div>
            <img class="image" src="{{imgs}}" alt="room img">
          </div>
          <div class="info">
            <span>Price : {{price}}$</span>
            <span>Room No. : {{room_num}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if data.triple}}
  <div class="search-view">
    <h2>Trible :</h2>
    <div class="container">
      {{#each data.triple}}
        <div class="card">
          <div class="img">
            <div class="overlay">
                <button class="hidden" id="book-btn" type="button" name="button">Book</button>
                <button class="hidden" id="view-btn" type="button" name="button">View more</button>
            </div>
            <img class="image" src="{{imgs}}" alt="room img">
          </div>
          <div class="info">
            <span>Price : {{price}}$</span>
            <span>Room No. : {{room_num}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</section>
